@media (max-width: 600px) {
  .pagination_container {
    flex-direction: column;
  }

  .paginationMobile {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .user-details {
    display: none !important;
  }
}

.title {
  display: block;
  font-size: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

@media (max-width: 450px) {
  .title {
    display: block;
    font-size: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  .searchbox {
    width: 100% !important;
  }

  .search_input {
    width: 100% !important;
  }

  .AdsBoxMobile {
    width: 100% !important;
  }

  .popupMobile {
    width: 98% !important;
    /* right: 5% !important; */
  }

  .tabs_container .ulMobile {
    width: 100%;
    display: -webkit-box;
    /* display: flex;
    justify-content: left;
    height: 6em; */
    overflow-x: scroll;
  }
}

.user-menu {
  display: flex;
  align-items: center;
}

.refresh-icon {
  width: 64px;
  height: 44px;
  color: #cbd5e1;
}

.user-info {
  display: flex;
  align-items: center;
  gap : 0.5em;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: 600;
}

.user-role {
  font-size: 14px;
  color: #666;
}

.dropdown-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.dropdown-container {
  position: relative;
  display: inline-block;
  margin: 20px;
  align-items: left;
}

