.controls {
    display: flex;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    /* border-bottom: 1px solid #ddd; */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .search-container{
    position: relative;
  }
  
  .search_icon{
    position: absolute;
    top:14%;
    left: 0.65%;
    width: 24px;
    height: 24px;
  }
  .control-buttons {
    justify-content: space-between; 
    display: flex;
    gap: 1rem;
  }

  .control-btn {
    align-items: center; /* Vertically centers items */
    justify-content: center;
    padding: 4px 6px;
    border-radius: 8px;
    width: 80px;
    height: 36px;
    background: transparent !important;
    cursor: pointer;
    border: 1px solid #ddd;
  }
  
  .btn-text {
    display: flex;
    align-items: center; /* Vertically centers the image and text */
    gap: 0.5em; /* Ensures spacing between image and text */
    font-size: 1rem; /* Adjust font size if necessary */
    justify-content: center;
    color: #A6A4B2;
  }

  .user-profile-container {
    display: flex;
    position: relative;
    align-items: center;
  }

  .avatarr {
      background-color: #3357FF;
      color: #fff;
      font-weight: bold;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      text-transform: uppercase;
      position: relative;
      border: 2px solid white;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
      margin-left: -10px; /* Creates stacking effect */
  }

  .avatarr:hover {
      transform: scale(1.2);
      z-index: 10;
  }

  .more-avatar {
      background-color: #a3b3fc;
  }

  .dropdown {
      position: absolute;
      top: 40px;
      right: 0;
      background: white;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 10px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      z-index: 100;
      min-width: 150px;
  }

  .no-assignees {
    text-align: center;
    font-size: 10px;
    color: #666;
    background: #f0f0f0;
    padding: 8px 12px;
    border-radius: 4px;
  }

  .dropdown-item {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      padding: 5px;
      cursor: pointer;
      width: 157px;
      color: #003366;
      border-radius: 8px;
  }

  .dropdown-item input {
      cursor: pointer;
  }

  .dropdown-item:hover {
    background-color: #f0f0f0;
  }

  .reset-button {
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    margin-top: 8px;
    cursor: pointer;
    width: 100%;
  }

  @media (max-width: 500px) {
    .controls{
      display: flex;
      flex-wrap: wrap;
      justify-content: end;
    }
    .search-container input{
      width: 100% !important;
      margin-bottom: 10px;
    }
    .control-buttons {
      margin-right: 0.6em;
      gap : 4px;
    }
    .btn-text {
      gap: 0.15em;
    }
  }