* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  max-height: 100vh;
  width: 100%;
}

.main-content {
  flex: 1;
  background-color: #f4f5f7;
  overflow: auto;
  padding: 20px;
}